extends layout

block content
    h1.title CCRunner
    p.title Welcome to CCRunner

    div#intro
        h2 you are joined successfully.
        form#login_form.form-horizontal.login_form_container(action='/', method='GET')
            button.btn.btn-primary.btn-block(type='submit') Go Home

    img(src='/images/code-wallpaper-18.png')
