div#result
    div#result_menu.btn-group-vertical(role='group')
        button#run.btn.btn-success(onclick='javascript:runCode()') run
        button#clear.btn.btn-warning(onclick='javascript:clearResult()') clear
    div#result_content